.about-page {
  position: relative;
  padding: 2rem;
  margin-left: 3in;
  margin-right: 3in;
  background: linear-gradient(135deg, #011718 0%, #012d2e 100%);
  overflow: hidden;
  padding: 4rem 1rem;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
  object-fit: cover;
}

.glass-pane {
  backdrop-filter: blur(10px);
  background-color: rgba(155, 137, 244, 0.1);
  border-radius: 3rem;
  padding: 2rem;
  width: calc(100% - 5in);
  margin: 0 auto;
}

.about-page h1,
.about-page h2,
.about-page p,
.about-page ul {
  background: rgba(98, 225, 225, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
  transition: all 0.5s ease;
}
