.about-page {
  position: relative;
  padding: 2rem;
  margin-left: 3in;
  margin-right: 3in;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -2; /* Adjust z-index to make sure the video is below other elements */
  object-fit: cover;
}

.glass {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
  transition: all 0.5s ease;
}

.glass-pane {
  backdrop-filter: blur(10px);
  background-color: rgba(155, 137, 244, 0.1);
  border-radius: 1rem;
  padding: 2rem;
  width: calc(100% - 5in); /* Add this line to set width */
  margin: 0 auto; /* Add this line to center the pane */
}

.about-page {
    position: relative;
    background: linear-gradient(135deg, #011718 0%, #012d2e 100%);
    overflow: hidden;
    padding: 4rem 1rem;
  }
  
  .glass-pane {
    backdrop-filter: blur(1000px);
    background-color: rgba(155, 137, 244, 0.1);
    border-radius: 1rem;
    padding: 2rem;
  }
  
  .about-page h1,
  .about-page h2,
  .about-page p,
  .about-page ul {
  background: rgba(98, 225, 225, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
  transition: all 0.5s ease;
}

  .about-page h1:hover,
  .about-page h2:hover,
  .about-page p:hover,
  .about-page ul:hover {
  transform: rotate(1deg);
  box-shadow: 0 4px 6px rgb(1, 59, 73), 0 10px 3px rgba(0, 0, 0, 0.08);
}
  .circle {
    position: absolute;
    width: 950px;
    height: 150px;
    border-radius: 50%;
    opacity: 0.3;
    z-index: -1;
    mix-blend-mode: screen;
  }
  
  .circle-1 {
    background-color: rgba(255, 192, 203, 1);
    top: 10%;
    left: 10%;
  }
  
  .circle-2 {
    background-color: rgba(173, 216, 230, 1);
    top: 40%;
    left: 50%;
  }
  
  .circle-3 {
    background-color: rgb(183, 43, 239);
    top: 60%;
    left: 20%;
  }
  
  .circle-4 {
    background-color: rgba(255, 255, 102, 1);
    top: 85%;
    left: 75%;
  }
  