.endowment-management-page {
    position: relative;
    padding: 2rem;
    margin-left: 3in;
    margin-right: 3in;
  }
  
  .circle {
    position: absolute;
    border-radius: 50%;
    opacity: 0.2;
    z-index: -1;
  }
  
  .circle-1 {
    width: 400px;
    height: 400px;
    background-color: #f6d72b;
    top: -100px;
    left: -100px;
  }
  
  .circle-2 {
    width: 200px;
    height: 200px;
    background-color: #cb6af9;
    top: 100px;
    left: 350px;
  }
  
  .circle-3 {
    width: 300px;
    height: 300px;
    background-color: #eeb50a;
    top: 400px;
    left: 100px;
  }
  
  .circle-4 {
    width: 250px;
    height: 250px;
    background-color: #05f7cf;
    top: 450px;
    left: 400px;
  }
  
  .endowment-management-page h1,
  .endowment-management-page p {
    background: rgba(98, 225, 225, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem;
    transition: all 0.5s ease;
  }
  
  .endowment-management-page h1:hover,
  .endowment-management-page p:hover {
    transform: rotate(1deg);
    box-shadow: 0 4px 6px rgb(3, 197, 245), 0 10px 3px rgba(0, 0, 0, 0.08);
  }
  