body {
  overflow-x: hidden;
}

.homepage {
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar {
  overflow-x: auto;
  white-space: nowrap;
}

.wrapper {
  width: 80%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 80%;
  max-width: 1200px;
  background-color: rgba(234, 240, 241, 0.1);
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(1, 31, 52, 0.1);
}

.background-video {
  position: absolute;
  top: 60px;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
  margin-top: 1.5in;
}
.nav-bar {
  overflow-x: auto;
  white-space: nowrap;
}

.content {
  overflow-x: visible;
  width: 80%;
  max-width: 1200px;
  background-color: rgba(42, 105, 231, 0.8); /* Set the opacity to 0.8 */
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(234, 240, 245, 0.1);
  color: #ecf2f3; /* Set the font color to white */
}
