/* Dark mode */
body.dark {
  background-color: #121212;
}

.homepage.dark {
  background-color: rgba(34, 34, 34, 0.1);
}

.title.dark {
  color: #eeeeee;
}

.description.dark {
  color: #aaaaaa;
}

.button.dark {
  background-color: #ffffff;
  color: #121212;
}

.button.dark:hover {
  background-color: #eeeeee;
}

/* Center everything */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

/* Animation for the image tilt */
@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(2deg);
  }
}

@keyframes slide {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.image {
  position: relative;
  overflow: hidden;
}

.image img {
  max-width: 100%;
  border-radius: 0.5rem; /* Add border-radius to the image for a smoother appearance */
  transition: transform 0.3s; /* Add a smooth transition for the tilt effect */
}

.image img:hover {
  transform: rotate(2deg);
}

.image::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
  pointer-events: none;
  animation: slide 3s infinite;
}

.image:hover::before {
  animation-play-state: running;
}
