/* Landing.css */
.page {
  max-width: 1200px;
  max-height: 500px;
  margin: 0 auto;
}

.example {
  margin-top: 20px;
  margin-right: 40px;
  margin-bottom: 20px;
  margin-left: 40px;
}

.glass{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}


.glass-pane::before {
  content: "";
  display: circle;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
  border-radius: 2000px;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.1) 75%);
  animation: shimmer 0.5s infinite;
}

@keyframes shimmer {
  0% {
    transform: translateX(-50%);
  }
  500% {
    transform: translateX(100%);
  }
}

/* ... rest of the code remains the same ... */

.circle-1 {
  width: 60px;
  height: 60px;
  background-color: rgba(213, 169, 232, 0.3);
  left: 30%;
  top: 10%;
}

.circle-2 {
  width: 200px;
  height: 200px;
  background-color: rgb(243, 160, 6);
  left: 60%;
  top: 10%;
}

.circle-3 {
  width: 150px;
  height: 150px;
  background-color: rgba(221, 160, 221, 0.3);
  left: 80%;
  top: 50%;
}

.circle-4 {
  width: 90px;
  height: 90px;
  background-color: rgba(244, 164, 96, 0.3);
  left: 40%;
  top: 60%;
}
.circle-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: visible;
  z-index: -2;
}

.circle {
  position: absolute;
  border-radius: 50%;
  filter: blur(10px);
}
