/* Nav.css */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: rgba(2, 12, 34, 0.8);
  border-bottom: 1px solid rgba(2, 39, 92, 0.1);
  z-index: 100;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 50px;
  padding: 50px;
}


nav li {
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #ab47bc;
  font-weight: 600;
  transition: color 0.3s;
}

nav a:hover {
  color: #7b1fa2;
}

nav .dark-mode-button {
  background-color: #ab47bc;
  border: none;
  color: #ffffff;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

nav .dark-mode-button.dark {
  background-color: #7b1fa2;
}

nav .dark-mode-button:hover {
  background-color: #9c27b0;
}

nav .dark-mode-button.dark:hover {
  background-color: #6a1b9a;
}
