.organizations-list {
    /* ... */
  }
  
  .organization-card {
    /* ... */
  }
  
  .organization-card-content {
    /* ... */
  }
  
  .organization-logo {
    /* ... */
  }
  
  .organization-name {
    /* ... */
  }
  
  .organization-tagline {
    /* ... */
  }
  
  .buttons-row {
    /* ... */
  }
  
  .learn-more,
  .donate-now,
  .go-back-home,
  .delete-organization,
  .update-organization,
  .go-back {
    /* ... */
  }
  .selected-organization {
    /* ... */
    position: relative;
  }
  
  .button-container {
    display: flex;
    justify-content: flex-end;
  }
  
  .update-organization {
    /* ... */
    margin-right: 10px;
  }
  
  .go-back {
    /* ... */
  }
  